* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    font-family: Arial, sans-serif;
}
h1,
h2,
h3 {
    font-family: "Clash Display", sans-serif;
}
h4,
p {
    font-family: "Satoshi", sans-serif;
}

/* ------------------------------------ */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 60px;
    padding: 15px 20px;
    box-sizing: border-box;
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: all 0.3s ease;
}
.navbar img {
    filter: invert(100%);
}
.navbar-logo {
    width: 135px;
    height: auto;
}

/* .navbar-links a {
    color: white;
    text-decoration: none;
    margin-right: 30px;
} */

.navbar.scrolled {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* .navbar.scrolled .navbar-links a {
    color: black;
} */

/* .navbar-links a:hover {
    text-decoration: underline;
} */

/* ------------------------------------ */

.background {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 50%;
}
.background .content {
    max-width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
.content h1 {
    font-size: 60px;
}
.content h2 {
    font-size: 25px;
    margin-top: 1em;
}

/* ------------------------------------ */

.gallery {
    width: 100%;
    min-height: 48vw;
    background-color: #333333;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.gallery-item {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 36vw;
    width: 22%;
    text-align: center;
    justify-content: space-evenly;
}

.gallery-item img {
    width: 95%;
    aspect-ratio: 1.5;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.gallery-item img:hover {
    transform: scale(1.035);
}

.gallery-item-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    color: white;
    border-radius: 10px;
    text-align: center;
}
.gallery-item h3 {
    font-size: 2.7vw;
}
.gallery-item h4 {
    font-size: 1.2vw;
}

.gallery-item button {
    width: 55%;
    padding: 10px 20px;
    background-color: white;
    color: #4d4d4d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2vw;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
.gallery-item button:hover {
    background-color: black;
    color: white;
    transform: scale(1.1);
}

/* ------------------------------------ */

.section-item {
    width: 100%;
    height: 100vh;
    display: flex;
}
.section-item:nth-child(even) {
    background-color: #666666;
    color: white;
}
.section-item .text-container {
    flex: 1;
    display: flex;
    align-items: center;
}
.section-item .text-container .text {
    width: 70%;
    margin-inline: auto;

}
.text h3 {
    font-size: 50px;
}
.text p {
    margin-top: 1.5em;
    font-size: 22px;
    font-weight: 600;
    text-align: justify;
}
.section-item img {
    max-width: 40%;
    height: 100%;
    object-fit: cover;
}

/* ------------------------------------ */

.video-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* gap: 5vw; */
}
.video-section .text-container {
    /* margin-top: 8vw; */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vertical-video .text-container p {
    text-align: left;
}
.video-section .text-container .text {
    width: 70%;
}

.video-container {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-container .video {
    margin-inline: auto;
}
.horizontal-video .video {
    width: 70%;
}

.vertical-video .video {
    height: 80%;
    width: fit-content;
}

.video-container .video video {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.video-container .video video:hover {
    transform: scale(1.04);
}

@media screen and (max-width: 1200px) {
    .gallery {
        flex-direction: column;
        justify-content: space-evenly;
        gap: 4em;
        padding: 3em 0em;
    }
    .gallery-item {
        flex-direction: row;
        width: 95%;
        height: 25vw;
    }

    .gallery-item a {
        margin: 0.5vw;
        align-content: center;
        max-width: 35%;
    }
    .gallery-item img {
        height: 100%;
        width: 100%;
    }
    .gallery-item-text {
        padding: 0 1vw;
    }
    .gallery-item-text button {
        width: 30%;
    }
    .gallery-item-text > h3 {
        font-size: 5vw;
    }
    .gallery-item-text > h4,
    .gallery-item-text button {
        font-size: 1.5vw;
    }

    /* --------------------------------------------------- */

    .horizontal-video {
        flex-direction: column;
        justify-content: space-evenly;
    }
    .horizontal-video .text-container {
        flex: 0;
        width: 100%;
        text-align: center;
    }

    .horizontal-video .video-container {
        height: fit-content;
        width: 100%;
    }
    .horizontal-video .video {
        width: 35%;
    }

    .asian {
        flex-direction: column-reverse !important;
    }
}

@media screen and (max-width: 1100px) {
    .text h3 {
        font-size: 4.5vw;
    }
    .text p {
        margin-top: 1.5em;
        font-size: 2vw;
        font-weight: 600;
    }
}

@media screen and (max-width: 1000px) {
    .horizontal-video .video {
        width: 40%;
    }
}

@media screen and (max-width: 900px) {
    .section-item {
        height: 70vw;
    }
    .text h3 {
        font-size: 5.5vw;
        text-align: center;
    }
    .text p {
        margin-top: 1.5em;
        font-size: 2.8vw;
        font-weight: 600;
    }
    .section-item img {
        display: none;
    }

    .gallery-item {
        height: 30vw;
    }
    .gallery-item-text > h3 {
        font-size: 6vw;
    }
    .gallery-item-text > h4,
    .gallery-item-text button {
        font-size: 2vw;
    }

    /* --------------------------------------------------- */

    .video-section {
        height: 90vw !important;
    }
    .vertical-video .text-container h3 {
        text-align: start;
    }
    .horizontal-video .video {
        width: 50%;
    }
}

@media screen and (max-width: 770px) {
    .background h1 {
        font-size: 7vw;
    }
    .background h2 {
        font-size: 3vw;
    }
}

@media screen and (max-width: 650px) {
    .section-item {
        height: 85vw;
    }
    .text-container h3 {
        font-size: 7vw;
    }
    .text-container p {
        font-size: 3.2vw;
    }

    /* --------------------------------------------------- */

    .horizontal-video .video {
        width: 55%;
    }
}

@media screen and (max-width: 607px) {
    .gallery {
        flex-direction: column;
        justify-content: center;
        gap: 3em;
        height: 460vw;
        padding-top: 3em;
        padding-bottom: 0;
    }
    .gallery-item {
        height: 100%;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    .gallery-item:not(.gallery-item:last-child)::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 70%;
        border-bottom: solid white;
    }

    .gallery-item a {
        margin-left: 0;
        max-width: 100%;
        width: 70%;
    }
    .gallery-item img {
        height: 100%;
        width: 100%;
    }
    .gallery-item-text {
        padding: 0;
        padding-top: 1em;
        padding-bottom: 3em;
        width: 80%;
    }
    .background h1 {
        font-size: 8vw;
    }
    .background h2 {
        margin-top: 1em;
        font-size: 4.5vw;
    }
    .gallery-item-text > h3 {
        font-size: 8.5vw;
    }
    .gallery-item-text > h4 {
        font-size: 4.5vw;
    }
    .gallery-item-text button {
        font-size: 3.5vw;
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .section-item,
    .video-section {
        height: 125vw !important;
    }
    .text-container h3 {
        font-size: 8vw;
    }
    .text-container p {
        font-size: 4vw;
    }

    /* --------------------------------------------------- */

    .horizontal-video .video {
        width: 75%;
    }

    .vertical-video {
        height: 180vw !important;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .vertical-video .text-container {
        flex: 0;
    }
    .vertical-video .text-container h3 {
        text-align: center;
    }
    .vertical-video .text-container p {
        text-align: justify;
    }
    .vertical-video .video-container {
        width: 100%;
        height: 55%;
    }
    .vertical-video .video {
        height: 100%;
    }
}
